<section class="section products">
  <div class="products__container">
    <p class="section__sup-title">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <img class="products__img" src="./images/mobile/products-mobile-png/products01.png" alt="products">
        <h3 class="products__title">ice cream</h3>
        <div class="products__wrapper">
          <p class="products__desc">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
          </p>
          <button type="button" class="products__btn">---></button>
        </div>
      </li>
      <li class="products__item">
        <img class="products__img" src="./images/mobile/products-mobile-png/products02.png" alt="products">
        <h3 class="products__title">ice cream</h3>
        <div class="products__wrapper">
          <p class="products__desc">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
          </p>
              <button type="button" class="products__btn">---></button>
        </div>
      </li>
      <li class="products__item">
        <img class="products__img" src="./images/mobile/products-mobile-png/products01.png" alt="products">
        <h3 class="products__title">ice cream</h3>
        <div class="products__wrapper">
          <p class="products__desc">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
          </p>
          <button type="button" class="products__btn">---></button>
        </div>
      </li>
    </ul>
  </div>
</section>
